{% extends 'base.html' %}
{% block right-panel-content %}
    <h3 id="h0" class="text-center">{{ title }}</h3>
    {% if  not filter_cards %}
        <h3 id="h1" class="text-center">对不起没有卡片</h3>
    {% endif %}
    <div >
        <form method="get" action="{% url 'filter' %}">
            {% csrf_token %}
            <label>年份</label>
            <select class="select_lable" name="svalue_1">
                <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                {% for r in year %}
                    <option value="{{ r.release_year }}">{{ r.release_year }}</option>
                {%endfor%}
            </select>

            <label>系列</label>
            <select class="select_lable" name="svalue_2">
                <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                {% for r in name %}
                    <option value="{{ r.release_name }}">{{ r.release_name }}</option>
                {%endfor%}
            </select>

            <label>球队</label>
            <select class="select_lable" name="svalue_3">
                <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
                {% for r in team %}
                    <option value="{{ r.card_team }}">{{ r.card_team }}</option>
                {%endfor%}
            </select>
            <input type="submit" value="提交">
        </form>
    </div>

    {% if conditions_zh %}
        <form>
            <div id="conditions">
                <h1 > 查询条件为： </h1>
                {% for k,v in conditions_zh.items %}
                    <div class="condition_form">
                        <div class="item">
                            <h1 style="display:inline;">{{ k }}:</h1>
                            <p style="display:inline;">{{ v }}</p>
                        </div>
                    </div>
                {% endfor %}
                <h1 > 查询结果为： </h1>
            </div>
        </form>
    {% endif %}

    {% for card in filter_cards %}

        <div class="container-fluid">
            <div class="row clearfix">
                {% if not card.pic_up %}
                    <div class="col-md-2 column">
                        <img class="img-thumbnail card-image" alt="140x140" src="/media/lbj.jpg" width=140px
                             height=140px/>
                    </div>
                {% else %}
                    <div class="col-md-2 column">
                        <img class="img-thumbnail card-image" alt="140x140" src="/media/{{ card.pic_up }}" width=140px
                             height=140px/>
                    </div>
                {% endif %}
                <div class="col-md-7 column">
                    <h3>
                        <a rel="nofollow" href="{% url 'card' card.id %}">  {{ card.release_year }} {{ card.release_name }} - {{ card.card_set }}</a>
                    </h3>
                    <p>{{ card.release_year | slice:":100" }}......</p>
                    <p>
                        <strong>
                            <span style="margin-right: 2px">系列: </span>
                            {{ card.release_name  }}
                        </strong>
                        <strong>
                            <span style="margin-right: 2px">具体类型: </span>
                            {{ card.card_set  }}
                        </strong><strong>
                            <span style="margin-right: 2px">球员: </span>
                            {{ card.card_player  }}
                        </strong>
                        </strong><strong>
                            <span style="margin-right: 2px">球队: </span>
                            {{ card.card_team  }}
                        </strong>
                        </strong><strong>
                            <span style="margin-right: 2px">限量: </span>
                            {{ card.card_seq  }}
                        </strong>
                        </strong><strong>
                            <span style="margin-right: 2px">是否拥有: </span>
                            {{ card.has_owned }}
                        </strong>
                    </p>

                </div>
            </div>
        </div>
    {% endfor %}
        <div class="pagination">
        <ul class="pagination">
            {% if filter_cards.has_previous %}
                <li><a href="?page={{ filter_cards.previous_page_number }}&{{ get_url_use|join:'&' }}">上一页</a>
                </li>
            {% endif %}

            {% for p_num in page_range %}
                {% if 0 < p_num and p_num < max_page %}
                    {% if filter_cards.number == p_num %}
                        <li class="active">
                        <a href="#">
                        {{ filter_cards.number }}
                        <span class="sr-only">{{ filter_cards.number }}
                        </span>
                        </a>
                        </li>
                    {% else %}
                        <li >
                        <a href="?page={{ p_num }}&{{ get_url_use|join:'&' }}">
                            {{ p_num }}
                        </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}


            {% if filter_cards.has_next %}
                <li><a href="?page={{ filter_cards.next_page_number }}&{{ get_url_use|join:'&' }}">下一页</a></li>
            {% endif %}
            <li class="item"><a rel="nofollow" href="#">
                    {{ filter_cards.number }}/{{ filter_cards.paginator.num_pages }}</a>
            </li>
        </ul>
        </div>
{% endblock %}
